@import "navs/global.scss";
@import "navs/topbar.scss";
@import "navs/sidebar.scss";


.personal-info {
    list-style: none;
    padding-left: 0;
}

.personal-info ul {
    padding-left: 0;
    list-style: none;
}