@import "navs/global.scss";
@import "navs/topbar.scss";
@import "navs/sidebar.scss";
@import "../scss/_variables.scss";


.personal-info {
    display: flex;
    flex-flow: row;
    list-style: none;
    padding-bottom: 0;
}

.personal-info ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    margin-left: $spacer;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1rem;
    color: $blue;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.car {
    height: 4rem;
    width: 4rem;
}