@import "navs/global.scss";
@import "navs/topbar.scss";
@import "navs/sidebar.scss";
@import "../scss/_variables.scss";


.personal-info {
    display: flex;
    flex-flow: row;
    list-style: none;
    padding-bottom: 0;
}

.personal-info ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    margin-left: $spacer;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1rem;
    color: $blue;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.car {
    height: 4rem;
    width: 4rem;
}

.select-licence {
    //overflow: hidden;
    margin: $spacer 0;
    -webkit-appearance: none; 
    -moz-appearance: none;
    padding: 1rem 0.7rem;
    background: $blue;
    border-radius: 10rem;
}

.select-licence select {
    background: $blue;
    color: $white;
    border: none;
    font-size: 0.8rem;
    width: 100%;
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.file-input {
    font-size: 0.8rem;
    border-radius: 10rem;
    border: 1px solid #d1d3e2;
    width: 100%;
    padding: 0.8rem 1rem;
}


.black select   { color: #fff; }